body{
    background-color: orange;
    display: flex;
    flex-direction: column;
    display: grid;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h2{
    text-decoration: underline;
}
.grid-container{
    display: inline-grid;
    grid-template-rows: auto;
    grid-row-gap: 05px;
    justify-content: space-evenly;
}
.p01{
    margin-top: 01px;
}
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 50px;
}
